body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #3f87a6, #ebf8e1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: white;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #3f87a6;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
#answer {
  font-size: 20px;
  margin-top: 20px;
}
